@{
    ViewData["Title"] = "findingCallNumbers";
}

<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <style>
            .QuestionDesc{
            font-size: 18px;
            font-weight:bold;
            }
        </style>
    </head>
    <body>
        <h4 class="display-5">Find the correct call number</h4>

    <p id="message" style="display: none; align-items: center; justify-content: center; background-color: #00FF00; text-align:center; font-weight: bold; font-size: 20px;">CORRECT</p>
    <p id="messageWrong" style="display: none; align-items: center; justify-content: center; background-color: #FF0000; text-align:center; font-weight: bold; font-size: 20px;">INCORRECT</p>
    <p>Description : <strong>@ViewBag.SelectedCallnumber.description</strong></p>


    <p>Question : </p><p class="QuestionDesc" >  @ViewBag.SelectedCallnumber.description</p>

    <p>Select the correct call number: </p>

        @{
    foreach (var item in Model)
            {
                 <div class="form-check">
                <input type="radio" class="form-check-input" id="rad+@(item.callNumber)"  name="optradio" value="@(item.callNumber)" checked> @(item.callNumber) @(item.description)
                <label class="form-check-label"  for="radio1"></label>
                </div>
            }
        }

    <button id="checkButton" class="btn btn-primary" style="margin: 30px;">CHECK</button>

    <form asp-action="findingCallNumbersNextLevel" method="post">
        <input type="submit" id="goAgainButton" class="btn btn-primary" value="AGAIN" disabled  />
    </form>
    </body>
</html>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#checkButton").click(function () {
                var selectedValue = $("input[name='optradio']:checked").val();
                var messageElement = document.getElementById('message');
                var messageElementWrong = document.getElementById('messageWrong');
                $.ajax({
                    url: '/Home/checkFindingCallNumbers',
                    type: 'POST',
                    data: { selectedValue: selectedValue },
                    success: function (response) {
                        // Handle the response here
                        console.log(response);
                        if (response.success === true) {
                            // Call another IActionResult method here
                            document.getElementById('goAgainButton').disabled = false;
                            messageElement.style.display = "block";
                            setTimeout(function () {
                                messageElement.style.display = "none";
                            }, 5000);

                        } else {
                            messageElementWrong.style.display = "block";
                            setTimeout(function () {
                                messageElementWrong.style.display = "none";
                            }, 4000);
                        }
                    }
                });
            });
        });
    </script>
}